a{
  text-decoration: none;
}
.storybook-button {
  font-weight: 700;
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: black;
  background-color: #fc0;
}
.storybook-button--secondary {
  color: #fc0;
  background-color: transparent;
  border: 3px solid #fc0;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
